body{
    background-image: url("../public/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}